.userDetail {
    width: 75%;
    padding: 1rem;
    margin-left: 1%;
}

.userDetail .imgAndName {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userDetail .imgAndName .name {
    margin-left: 1rem;
}

.userDetail .userDetail__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}


.userDetail .userDetail__media {
    border-radius: 33px;
    width: 33%;
    height: 33%;
}

.userDetail .xButton {
    display: none;
}

@media only screen and (max-width: 40rem) {
    .userDetail .xButton {
        display: block;
        float: right;
    }

    .userDetail.false {
        display: none;
    }

    .userDetail.true {
        display: block;
    }
}