.editArea h4,
p {
    margin-left: 1.5rem;
}

.editArea {
    width: 90%;
    margin: auto;
    /* centers div in it's container */
    background-color: white;
    /* light grey */
    padding: 1rem;
    border-radius: 0.25rem;

    /* up down offset, left right offset, blur, color */
    box-shadow: 0.25rem 0.25rem 0.25rem #444444;
    text-align: left;
    margin-top: 12rem;
    margin-bottom: 2rem;
}

/* count padding as part of width for everything in .editArea */
.editArea * {
    box-sizing: border-box;
}

.editArea .foreignKey {
    display: flex;
    justify-content: left;
    align-items: left;
    margin: 0rem 1%;
}

.editArea .foreignKey select {
    height: 100%;
    border: 2px solid black;
    padding: 1rem;
    border-radius: 0.25rem;
}

.editArea .row {
    /*background-color: rgba(225,225,225,1);*/
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.editArea .row .searchRow {
    display: flex;
    flex-direction: row;
}

.editArea .row .namesDiv {
    position: relative;
}

.editArea .row .namesDiv .names {
    position: absolute;
    background-color: white;
    border: 2px solid black;
    padding: 1rem;
    border-radius: 0.25rem;
    margin-top: 0;
    margin-left: 2%;
}

.editArea .prompt {
    font-weight: bold;
    width: 98%;
    margin: 1%;
    margin-left: 0%;
}

.editArea input {
    border-radius: 0.25rem;
    width: 96%;
    margin: 0rem 2%;
    /* 1st is top/bottom, 2nd is left/right */
    padding-left: 1rem;
}


.editArea textarea {
    border-radius: 0.25rem;
    height: 5rem;
    overflow-y: auto;
    font-family: inherit;
    resize: none;
    margin: 0rem 1%;
    /* 1st is top/bottom, 2nd is left/right */
    padding: 1rem;
    border: 2px solid black
}

.editArea .error {
    width: 96%;
    margin: 0rem 2%;
    /* 1st is top/bottom, 2nd is left/right */
    color: maroon;
}

.editArea button {
    margin: 0rem 0.5rem;
    /* first is top/bottom, second is left right */
}

.editArea .recLevelMsg {
    font-weight: bold;
}

.editArea .buttonsAndMessage {
    display: flex;
    flex-direction: row;
}

.editArea .xButton {
    float: right;
}

/* desktop only */
@media only screen and (min-width: 40rem) {
    .editArea .row .dropdown .searchRow .nameInput {
        border-radius: 0.25rem;
        width: 100%;
        margin: 0rem 0%;
        /* 1st is top/bottom, 2nd is left/right */
        height: 3rem;
        left: 0;
        position: relative;
    }

    .editArea .row .searchRow {
        display: flex;
        flex-direction: row;
        width: 150%;
        justify-content: flex-start;
        margin-left: 3.5%;
    }

    .editArea .xButton {
        display: none;
    }

    .editArea .row .namesDiv {
        position: absolute;
        margin-left: 1%;
        margin-top: 0%;
    }

    .editArea .row .namesDiv .names {
        position: absolute;
        left: 0;
        float: left;
    }

    .editArea {
        margin-top: 1rem;
    }

    .editArea .row {
        flex-direction: row;
        margin-bottom: 0.5rem;
    }

    .editArea .prompt {
        width: 23%;
    }

    .editArea input {
        width: 31%;
        margin-left: 1%;
    }

    .editArea .error {
        width: 38%;
        margin-left: 1%;
    }


    .editArea textarea {
        border-radius: 0.25rem;
        height: 5rem;
        overflow-y: auto;
        font-family: inherit;
        resize: none;
        width: 31%;
        margin: 0rem 1%;
        /* 1st is top/bottom, 2nd is left/right */
        padding: 1rem;
        border: 2px solid black
    }

}