.edit .modal {
    padding: 3rem;
}


.edit .cancelButton {
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.edit .buttons {
    margin-top: 1rem;
    width: 100%;
}

.edit .xButton {
    float: right;
}