body, html {
    font-family: 'Courier New', Courier, monospace;
}

.spaPage {
    margin-left: 3%;
    margin-top: 3%;
}

.headerText {
    font-size: 40px;
}

* {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 99%;
    background-color: rgba(219, 219, 219, 0.616);
}

.view {
    height: 100%;
    width: 100%;
    padding-left: 3rem
}

.main {
    text-align: center;
    display: flex;
}

.heading {
    margin-top: 2rem;
}

#data .dlist {
    color: red;
}

#names {
    background-color: white;
    text-align: left;
    position: absolute;
    top: 23rem;
}


.userTable, .expandedView {
    display: inline-block;
}

.userTable {
    overflow-y: auto;
    height: 50rem;
    flex: 0 0 30%;
}

.tableBody {
    width: 95%;
}

.expandedView {
    flex: 0 0 70%;
    padding-left: 1rem;
    padding-top: 1rem;

}

@media screen and (max-width: 1000px) {
    .main {
        text-align: center;
        display: inline;
    }   
    
    .expandedView {
        width: 25rem;
        margin-top: -4rem;
    }

    .userTable {
        height: 35vh;
        top: 10rem;
        width: 1rem;
    }

    .tableBody {
        width: 100%;
    }

    .view {
        padding-left: 0;
        padding-right: 0;
    }

    .App {
       width: 100%;
       border: 1px solid blue;
       text-align: center;
    }

    .userTable, .expandedView {
        display: inline-block;
    }
}
