.taskDetail {
    width: 75%;
    padding: 1rem;
    margin-left: 1%;
}

.taskDetail .imgAndName {
    display: flex;
    justify-content: center;
    align-items: center;
}

.taskDetail .imgAndName .name {
    margin-left: 1rem;
}

.taskDetail .taskDetail__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

.taskDetail .xButton {
    display: none;
}

.taskDetail .taskDetail__media {
    border-radius: 33px;
    width: 33%;
    height: 33%;
}

@media only screen and (max-width: 40rem) {
    .taskDetail .xButton {
        display: block;
        float: right;
    }

    .taskDetail.false {
        display: none;
    }

    .taskDetail.true {
        display: block;
    }
}