.taskDetail {
    width: 75%;
    padding: 1rem;
    margin-left: 1%;
    position: relative;
}

.taskDetail .imgAndName {
    display: flex;
    justify-content: center;
    align-items: center;
    /* sk edit */
    position: relative;
}

.taskDetail .imgAndName .skDiv {
    position: absolute;
    z-index: 2;
    top: 3rem;
    left: 5rem;
    /*display: none;*/
}

.taskDetail .imgAndName .name {
    margin-left: 1rem;
}

.taskDetail .taskDetail__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

.taskDetail .xButton {
    display: none;
}

.taskDetail .taskDetail__media {
    border-radius: 33px;
    width: 8%;
    height: 8%;
    padding: 1rem;
}


@media only screen and (max-width: 40rem) {
    .taskDetail .xButton {
        display: block;
        float: right;
        z-index: 1000;
    }

    .taskDetail.false {
        display: none;
    }

    .taskDetail.true {
        display: block;
    }
}